/* .App {
  display: grid;
  grid-template-columns: 18% 1fr;
  min-height: 100svh;
  padding: 40px;
  background-color: var(--primary-background-black);
}
.body-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}
@media screen and (max-width: 500px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: 10% 1fr;
    padding: 24px;
  }
  .body-wrapper {
    height: auto;
  }
} */

.App {
  display: grid;
  grid-template-columns: 269px 1fr;
  gap: 2.5rem;
  min-height: 100vh;
  padding: 2.5rem;
  background-color: var(--primary-background-black);
  overflow: hidden;
}

.body-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}

@media screen and (max-width: 500px) {
  .App {
    grid-template-columns: auto;
    grid-template-rows: 2% 1fr;
    padding: 24px;
  }

  .body-wrapper {
    height: auto;
  }
}
